// @import "~taro-ui/dist/style/components/flex.scss";

$left-width: 100rpx;

.timeline-item {
  position: relative;
  // background-color: pink;
}
.timeline-item-tail {
  position: absolute;
  left: $left-width;
  top: 14rpx;
  height: 100%;
  border-left: 2px solid #e8e8e8;
}
.timeline-item-last .timeline-item-tail {
  display: none;
}
.time-line-date {
  float: left;
  text-align: center;
  width: $left-width - 10;
  position: relative;
  line-height: 1;
}
.timeline-item-head {
  position: absolute;
  left: $left-width - 7;
  width: 13px;
  height: 13px;
  margin-top: 12rpx;
  background-color: #fff;
  border-radius: 100px;
  border: 2px solid transparent;
}
.time-line-item-head-blue {
  border-color: #1da57a;
  color: #1da57a;
}
.timeline-item-content {
  min-height: 120rpx;
  // width: 100%;
  color: black;
  margin-left: $left-width + 30;
  margin-right: 20rpx;
  padding-bottom: 40rpx;
  font-size: rpx;
  position: relative;
}

.day {
  display: block;
  font-weight: bold;
  font-size: 52rpx;
  letter-spacing: 2px;
}
.month {
  display: block;
  font-size: 24rpx;
  margin-top: 6rpx;
}
.content-container {
  margin-top: 10rpx;
}
image.thumbnail {
  width: 100%;
  max-width: 120rpx;
  height: 120rpx;
  object-fit: cover;
  margin-right: 16rpx;
}
.meta-text {
  font-size: 24rpx;
  color: gray;
}
.meta-container {
  margin-right: 20rpx;
  font-size: 26rpx;
  color: gray;
}
.meta-time {
  display: inline-block;
  width: 50%;
}
.meta-img-num {
  display: inline-block;
  text-align: right;
  width: 50%;
}